body {
  overflow-x: hidden;
  background: linear-gradient(to right, #ebf4f5 0%, #b5c6e0 100%);
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.parent {
  height: 100%;
  width: 100%;
  position: relative;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  color: red;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: linear-gradient(to right, #b5c6e0 0%, #ebf4f5 100%);
}
.navbar h2 {
  font-size: 2.7vw;
  font-weight: 700;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.links {
  display: flex;
  gap: 5vw;
}
.links h4 a {
  text-decoration: none;
  font-size: 1rem;
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.links h4 a:hover {
  color: rgb(15, 15, 15);
}

.content {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  position: relative;
}

.description {
  height: 100%;
  width: 45%;
  padding: 5vw 5vw;
}

.description h2 {
  font-size: 4vw;
  line-height: 4vw;
  color: #ffc100;
}
.description h2 span {
  color: #fc4100;
}
.description p {
  font-size: 1.3vw;
  color: grey;
  margin-top: 2vw;
  margin-bottom: 3.3vw;
}
.description button {
  padding: 1vw 2vw;
  border: none;
  background-color: #ffec9e;
  color: gray;
  border-radius: 10px;
  font-size: 1.1vw;
  cursor: pointer;
}
.description button:hover {
  background-color: #eaa454;
  color: #fc4100;
}
.image {
  height: 100%;
  width: 55%;
}

.image img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
}

@media (max-width: 600px) {
  .navbar {
    background: linear-gradient(to right, #b5c6e0 0%, #e74b03 100%);
    margin-bottom: 50px;
  }
  .navbar h2 {
    font-size: 6vw;
  }
  .links h4 a {
    display: none;
  }

  .content {
    flex-direction: column;
    width: 100%;
  
  }
  .content .description {
    width: 90%;
  }
  .content .description h2{
    font-size: 6vw;
    margin-bottom: 40px;

  }
  .content .description p{
    font-size: 3vw;
    margin-bottom: 50px;
    line-height: 4vw;
  }

  #exploreNowButton{
    font-size: 4vw;
    padding: 20px;
    margin-left: 32%;
  }
  .image{
    width: 100%; 
  }
  
}

.ContentHeading {
  height: 100px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.ContentHeading h2 {
  font-size: 2vw;
  color: #ff6500;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/*-----------------------------------------------*/

.Cards {
  height: 100%;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.mahadev {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.goddescription {
  height: 100%;
  width: 50%;
  padding: 5vw 5vw;
}
.goddescription h3 {
  font-weight: 700;
  color: rgb(58, 57, 57);
}
.goddescription p {
  margin-top: 1vw;
  margin-bottom: 2vw;
  line-height: 3.3vh;
}

.image1 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
}
.image1 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.vishnu {
  height: calc(100% - 100px);
  width: 90%;
  display: flex;
  position: relative;
}

.image2 {
  height: 100%;
  width: 50%;
}

.image2 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.krishna {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.image3 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
}

.image3 img {
  width: 100%;
  height: 550px;
  margin-top: 1vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.shreeram {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 90%;
  display: flex;
  position: relative;
}

.image4 {
  height: 100%;
  width: 50%;
}

.image4 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.hanuman {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.image5 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
  background-size: 100% 100%;
}

.image5 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.saraswati {
  height: calc(100% - 100px);
  width: 90%;
  display: flex;
  position: relative;
}

.image6 {
  height: 100%;
  width: 50%;
  background-size: 100% 100%;
}

.image6 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.laxmi {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.image7 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
  background-size: cover;
  background-position: center;
  animation: changeImage 20s linear infinite;
}

.image7 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.godBtn {
  padding: 1vw 1vw;
  border: none;
  background-color: #ffec9e;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8vw;
  color: #1d1b1b;
  font-weight: 700;
}
.godBtn:hover {
  background-color: #e4fab0;
}


.vahan {
  height: 200px;
  width: 85%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 8px;
  
  
}

.vahan h2 {
  padding: 50px;
  color: rgb(223, 105, 1);
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.vahanBody {
  height: 400px;
  width: 85%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.vahanBody h1 {
  font-size: 2.7vw;
  color: #006769;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.vahanBody h3 {
  font-size: 1.5vw;
  color: rgb(107, 82, 48);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.vahanBody p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: gray;
  line-height: 1.3vw;
  font-weight: 500;
}

/*-----------------------------*/

.bahanCardContainer {
  height: 100%;
  width: 85%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5vw;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}
.content-section .card {
  background-color: #f7f7f7;
  min-height: 60vh;
  width: 20vw;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.content-section .card:hover {
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 25px 35px -10px;
}

.content-section .card img {
  padding-top: 5%;
  height: 40vh;
  width: 90%;
  margin-bottom: 5px;
}
.content-section .card h2 {
  font-size: 1.7rem;
  font-family: gilroy;
  color: #0f2a5a;
}
.content-section .card p {
  padding: 10px 15px;
  font-size: 0.75rem;
  color: rgb(65, 65, 65);
  line-height: 1rem;
  font-family: cursive;
  font-weight: 700;
}

.rest {
  display: none;
  font-family: cursive;
}
.myBtn {
  padding: 4px 4px;
  font-family: cursive;
  font-size: 0.6rem;
  margin-bottom: 10px;
  font-weight: 500;
  background-color: #16418c;
  color: #f7f7f7;
  border-radius: 10px;
  opacity: 75%;
  cursor: pointer;
}
.myBtn:hover {
  background-color: #0f2a5a;
  color: #fff;
}

/* Footer Styling */
.footer {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #ffffff;
  height: 350px;
  padding-top: 40px;
  position: relative;
  bottom: 0;
  width: 85%;
  overflow: hidden;
}

.footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer .footer-section {
  flex: 1;
  padding: 20px;
}

.footer .logo-text {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
}

.footer .logo-text span {
  color: #f39c12;
}

.footer .contact span {
  display: block;
  margin: 10px 0;
}

.footer .socials a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.footer .socials a:hover {
  color: #f39c12;
}

.footer .links ul {
  list-style: none;
}

.footer .links ul a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
  display: block;
}

.footer .links ul a:hover {
  color: #f39c12;
}

.footer .contact-form .contact-input {
  background: #1c1c1c;
  color: #d3d3d3;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
}

.footer .contact-form .btn {
  background: #f39c12;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: #ffffff;
}

.footer .contact-form .btn:hover {
  background: #d35400;
}

.footer .footer-bottom {
  background: #002d62;
  color: #ffffff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: 40px;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
  .footer .footer-content {
    flex-direction: column;
    width: 100%;
  }

  .footer .footer-section {
    /* margin-bottom: 30px; */
  }

  .footer .footer-bottom {
  }
}

@media (max-width: 600px) {
  
  .Cards {
    height: 100%;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
  }

.mahadev, .vishnu, .krishna, .shreeram, .hanuman, .saraswati, .laxmi {
  height: calc(100% - 100px); 
  width: 100%;
  display: flex;
  position: relative;
}
.goddescription h3{
  font-weight: bold;
  color: #031e3d;
}
.goddescription p{
  font-size: small;
  color: rgb(60, 60, 60);
}
.godBtn{
  margin-top: 10px;
}
.godBtn a{
  font-size: 2vw;
  padding: 10px;
  color: #434343;
}

.image1, .image3, .image5, .image7 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
}

.image2, .image4, .image6 {
  height: 100%;
  width: 50%;
}

.image1 img, .image2 img, .image3 img, .image4 img, .image5 img, .image6 img, .image7 img {
  width: 80%;
  height: auto;
  margin-top: 1vw;
  margin-left: 38px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}

.vahan{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.vahan h2{
  text-align: center;
  font-size: 3vw;
  padding-right: 60px;
}

.vahanBody{
  height: 400px;
  width: 85%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.vahanBody h1 {
  margin-left: 50px;
  margin-top: 100px;
  color: #002d62;
  font-size: 4vw;
}
.vahanBody h3{
    margin-left: 50px;
    font-size: 3rem;
}

.vahanBody p{
  width: 100%;
  padding-left: 80px;
  margin-bottom: 100px;
}

.bahanCardContainer{
  height: 30%;
  width: 84%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  background-color: #e0f2f4;
  
}

.content-section{
  grid-template-columns: 1fr;
  width: 80%;
  height: 40%;
}
.content-section .card{
  width: 100%;
  height: 100%;
}


.footer{
  margin-left: 30px;
  border-radius: 10px;
  height: 100%;
  margin-bottom: 10px;
}
.footer-bottom{
  flex-direction: column;
}
}

/* Media Queries for responsive design */
@media (max-width: 1024px) {
  .Cards {
    margin-left: 50px;
    margin-right: 50px;
  }

  .mahadev, .vishnu, .krishna, .shreeram, .hanuman, .saraswati, .laxmi {
    flex-direction: column;
  }

  .image1, .image3, .image5, .image7 {
    width: 100%;
    margin-right: 0;
  }

  .image2, .image4, .image6 {
    width: 100%;
  }

  .goddescription {
    width: 85%;
    padding: 5vw 5vw;
  }
  .vahan h2{
    line-height: 5vw;
  }
}

@media (max-width: 768px) {
  .Cards {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    margin-left: 20px;
    margin-right: 20px;
  }

   .vahanBody h1 {
    font-size: 24px; /* Adjust font size as needed */
  }

  .vahanBody h3 {
    font-size: 18px; /* Adjust font size as needed */
  }

  .vahanBody p {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5em; /* Adjust line height as needed */
  }

  .footer .footer-content {
    flex-direction: row; /* Default flex direction */
    width: auto;
  }

  .footer .footer-section {
    margin-bottom: 0; /* Reset margin for footer sections */
  }

  .footer .footer-bottom {
    height: auto;
    line-height: normal;
  }
}

@media (max-width: 480px) {
  .Cards {
    margin-left: 10px;
    margin-right: 10px;
  }

  .goddescription {
    padding: 2vw 2vw;
  }

  .vahanBody h1 {
    font-size: 1.5vw;
  }

  .vahanBody h3 {
    font-size: 1vw;
  }

  .vahanBody p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.8vw;
  }

  .content-section {
    grid-template-columns: 1fr;
    gap: 1vw;
  }

  .content-section .card {
    width: 80%;
    min-height: auto;
  }
}

