
body {
  overflow-x: hidden;
  background: linear-gradient(to right, #ebf4f5 0%, #b5c6e0 100%);

}* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.parent {
  height: 100%;
  width: 100%;
  position: relative;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  color: red;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: linear-gradient(to right, #b5c6e0 0%, #ebf4f5 100%);
}
.navbar h2 {
  font-size: 2.5vw;
  font-weight: 700;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 5vw;
}
.links h4 a {
  text-decoration: none;
  font-size: 1rem;
  color: red;
}

.links h4 a:hover {
  color: rgb(247, 242, 242);
}

.content {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  position: relative;
}

.description {
  height: 100%;
  width: 45%;
  padding: 5vw 5vw;
}

.description h2 {
  font-size: 4vw;
  line-height: 4vw;
  color: #ffc100;
}
.description h2 span {
  color: #fc4100;
}
.description p {
  font-size: 1.3vw;
  color: grey;
  margin-top: 2vw;
  margin-bottom: 3.3vw;
}
.description button {
  padding: 1vw 2vw;
  border: none;
  background-color: #ffec9e;
  color: gray;
  border-radius: 10px;
  font-size: 1.1vw;
  cursor: pointer;
}
.description button:hover {
  background-color: #eaa454;
  color: #fc4100;
}
.image {
  height: 100%;
  width: 55%;
}

.image img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
}
@media (max-width: 600px) {
  .navbar {
    background-color: aliceblue;
  }
  .navbar h2 {
    font-size: 8vw;
  }
  .links h4 a {
    display: none;
  }
}

.ContentHeading {
  height: 100px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}

.ContentHeading h2 {
  color: #ff6500;
  font-weight: 700;
}
/*-----------------------------------------------*/

.Cards {
  height: 100%;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.mahadev {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.goddescription {
  height: 100%;
  width: 50%;
  padding: 5vw 5vw;
}
.goddescription h3{
  font-weight: 700;
  color: rgb(58, 57, 57);
}
.goddescription p {
  margin-top: 1vw;
  margin-bottom: 2vw;
  line-height: 3.3vh;
}

.image1 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
}
.image1 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.vishnu {
  height: calc(100% - 100px);
  width: 90%;
  display: flex;
  position: relative;
 
}

.image2 {
  height: 100%;
  width: 50%;
  
}

.image2 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.krishna {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.image3 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
}

.image3 img {
  width: 100%;
  height: 550px;
  margin-top: 1vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.shreeram {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 90%;
  display: flex;
  position: relative;
}

.image4 {
  height: 100%;
  width: 50%;
  
}

.image4 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.hanuman {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.image5 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
  background-size: 100% 100%;
}

.image5 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.saraswati {
  height: calc(100% - 100px);
  width: 90%;
  display: flex;
  position: relative;
}

.image6 {
  height: 100%;
  width: 50%;
  background-size: 100% 100%;
}

.image6 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
}

.laxmi {
  height: calc(100% - 100px); /*parent height-pixel */
  width: 100%;
  display: flex;
  position: relative;
}

.image7 {
  height: 100%;
  width: 60%;
  margin-right: 200px;
  background-size: cover;
  background-position: center;
  animation: changeImage 20s linear infinite;
  
}


.image7 img {
  width: 100%;
  height: 550px;
  margin-top: 1.2vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
  
}

.godBtn {
  padding: 1vw 1vw;
  border: none;
  background-color: #ffec9e;
  border-radius: 10px;
  cursor: pointer;
}
.godBtn:hover{
  background-color: #1d1b1b;
}
.godBtn:hover a{
  
  color: #f2e9e6;
}
.godBtn a{
  text-decoration: none;
  font-size: .8vw;
  color: #1d1b1b;
  font-weight: 700;
}


.vahan {
  height: 200px;
  width: 85%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.3vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.vahan h2 {
  color: rgb(223, 105, 1);
  font-weight: bold;
}

.vahanBody {
  height: 400px;
  width: 85%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.vahanBody h1 {
  font-size: 2.7vw;
  color: #006769;
  font-weight: 700;
}
.vahanBody h3 {
  font-size: 1.5vw;
  color: rgb(107, 82, 48);
  font-weight: 500;
}

.vahanBody p {
  margin-left: 150px;
  margin-right: 100px;
  color: gray;
  line-height: 1.3vw;
  font-weight: 500;
}


/*-----------------------------*/

.bahanCardContainer{
  
  height: 100%;
  width: 85%;
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:10vh;
  padding-bottom: 10vh;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
 
}
.content-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5vw;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}
.content-section .card{
  background-color: #f7f7f7;
  min-height: 60vh;
  width: 20vw;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.content-section .card:hover {
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 25px 35px -10px;
}

.content-section .card img{
  padding-top: 5%;
  height: 40vh;
  width: 90%;
  margin-bottom: 5px;
}
.content-section .card h2{
  font-size: 1.7rem;
  font-family: gilroy;
  color: #0f2a5a;
}
.content-section .card p{
  padding: 10px 15px;
  font-size: .75rem;
  color: rgb(65, 65, 65);
  line-height: 1rem;
  font-family: cursive;
  font-weight: 700;
}

.rest{
  display: none;
  font-family: cursive;
}
.myBtn{
  padding:4px 4px;
  font-family: cursive;
  font-size: .6rem;
  margin-bottom: 10px;
  font-weight: 500;
  background-color: #16418c;
  color: #f7f7f7;
  border-radius: 10px;
  opacity: 75%;
  cursor: pointer;

}
.myBtn:hover{
background-color: #0f2a5a;
color: #fff;
}

/* Footer Styling */
.footer {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #ffffff;
  height: 350px;
  padding-top: 40px;
  position: relative;
  bottom: 0;
  width: 85%;
  overflow: hidden;
  
}

.footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer .footer-section {
  flex: 1;
  padding: 20px;
}

.footer .logo-text {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
}

.footer .logo-text span {
  color: #f39c12;
}

.footer .contact span {
  display: block;
  margin: 10px 0;
}

.footer .socials a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.footer .socials a:hover {
  color: #f39c12;
}

.footer .links ul {
  list-style: none;
}

.footer .links ul a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
  display: block;
}

.footer .links ul a:hover {
  color: #f39c12;
}

.footer .contact-form .contact-input {
  background: #1c1c1c;
  color: #d3d3d3;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
}

.footer .contact-form .btn {
  background: #f39c12;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: #ffffff;
}

.footer .contact-form .btn:hover {
  background: #d35400;
}

.footer .footer-bottom {
  background: #002d62;
  color: #ffffff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: 40px;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
  .footer .footer-content {
      flex-direction: column;
  }

  .footer .footer-section {
      margin-bottom: 30px;
  }
}